.main {
  color: #232129;
  padding: 96px;
  font-family: -apple-system, Roboto, sans-serif, serif;
}

.page-title {
  margin-top: 0;
  margin-bottom: 64px;
  max-width: 320px;
}

.paragraph {
  margin-bottom: 48px;
}

.code-block {
  color: #8A6534;
  padding: 4px;
  background-color: #FFF4DB;
  font-size: 1.25rem;
  border-radius: 4px;
}

.secondary-title {
  font-size: 2rem;
  color: #555;
  margin-bottom: 32px;
}